
*{
    margin: 0;
    padding: 0;
}

.header-section{

    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero-content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-responsive{

    object-fit: cover;
    width: 100%;
    height: auto;
}

.hero-content h1{

    font-size: 4rem;
    margin-bootom: 30px;
    color: #F85509 ;

}

.hero-content p{

    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #8a266a;
}

.btn-custom{

    text-decoration: none;
    background-color: #F85509;
    padding: 15px 30px;
    border-radius:30px;
    color: #8a266a;
    transition: background-color 0.5s ease;

}

.btn-custom:hover{

    background-color: green;
    color: white;
}

.features-section{

padding: 60px 0px;
}

.features-section h2{

    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

.feature-card{

    padding: 30px;
    background-color: #CFC3C3;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: -7px 10px 12px 1px rgba(0,0,0,0.75);
    transition: transform 0.5s ease;
}

.feature-card:hover{

    transform: translate(-20px);
}

.feature-card img{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;


    
}

